<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VikoAPI</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>
    <link rel="shortcut icon" href="https://i.ibb.co/QNJVy2s/4-K-Loopable-Abstract-Color-Gradient-Background-Animation.jpg" type="image/x-icon">
    <link rel="icon" href="https://i.ibb.co/QNJVy2s/4-K-Loopable-Abstract-Color-Gradient-Background-Animation.jpg" type="image/x-icon">
        <meta name="keywords" content="VikoAPI, viko-api, Free rest api, viko docs, vikodk67, zahir api, tobz api, studiovdk, programing unpas, pikopi, indonesia, web api, rest api gratis">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="vikoAPI, viko-api, free-rest-api">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="free rest api viko beta version, no limit no slow respon banget">
        <meta name="google-site-verification" content="326ziQciDjp-x61P9UMC3-rlUpGIvVUFwOj1gas64UQ"/>
	    <meta name="robots" content="vikoapi, viko-api, free rest api, viko rest api, zhirr web, zeks.xyz">
        <meta name="author" content="V i k o d e v">

</head>

<body id="top">

        <%- include('nav')  %> 

        <%- body %> 

    <footer>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-twelve">
                    <div class="copyright">
                       <p style="color:#ffffff;">2021 VIko-API - Copypaste Script</p><br>
		       <script src="https://studiovdk.herokuapp.com/main-menu/databs.js"></script>
<script src="https://studiovdk.herokuapp.com/main-menu/berita.js"></script>
<style> .qon {
  float: left;
  width: 70%;
  padding: 1%;
  margin: 1% 10%;
  height: 40px;
  border-radius: 0.4em;
  box-shadow: 0 0.1em 0.2em;
}
</style>
<script src="https://studiovdk.herokuapp.com/main-menu/databs.js"></script>
<script src="https://studiovdk.herokuapp.com/main-menu/berita.js"></script>
  <marquee class="qon" id="pedofil" direction="left" onmouseover="stop()" onmouseout="start()"></marquee>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          vikoapi();
        })
        document.addEventListener("DOMContentLoaded", function() {
          markue();
        })
        document.addEventListener("DOMContentLoaded", function() {
          prosedur();
        })
      </script>
		       
                   </div>
                   <div id="go-top">
                      <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
                   </div>         
                </div>
            </div>     	
        </div>
      </footer>
  
      <div id="preloader"> 
          <div id="loader"></div>
      </div>  
      <script src="/js/jquery-2.1.3.min.js"></script>
      <script src="/js/plugins.js"></script>
      <script src="/js/main.js"></script>
  </body>
  </html>
