<script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
<header id="header" class="row">   
  <div class="header-logo">
  <lord-icon src="https://cdn.lordicon.com/xxtkutpo.json" trigger="loop" colors="primary:#ffffff,secondary:#66eece" style="width:80px;height:80px">
      <a href="/">VIKO-API</a>
  </div>
  <nav id="header-nav-wrap">
      <ul class="header-main-nav">
          <li><a href="/">Home</a></li>
          <% if (user) { %>
            <li><a href="/users/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/login">Login</a></li>
          <% } %> 
      </ul>
      <a href="/docs" class="button button-primary cta">Docs</a>
  </nav>
  <a class="header-menu-toggle" href="#"><span>Menu</span></a>    	
</header>
